#root {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#shapes {
  margin: 3%;
}

.circle {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: black;
}

.semi-circle {
  height: 100px;
  width: 200px;
  border-radius: 100px 100px 0 0 ;
  background-color: black;
}

.triangle {
  width: 0;
  height: 0;
  border-bottom: 200px solid black;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
}

.trapezoid {
  width: 100px;
  height: 0;
  border-bottom: 100px solid black;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
}

.parallelogram {
  height: 120px;
  width: 200px; 
  background: black;
  transform: skewX(-20deg);
}

.hexagon {
  position: relative;
  width: 100px;
  height: 0;
  border-bottom: 120px solid black;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
}

.hexagon:before {
  content: '';
  position: absolute;
  width: 100px;
  height: 0;
  border-bottom: 120px solid black;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  left: -100px;
  top: 120px;
  transform: rotate(180deg);
}

.leaf {
  width: 200px;
  height: 200px;
  background: black;
  border-radius: 250px 0 250px 0;
}

.drop {
  height: 200px;
  width: 200px;
  background: black;
  border-radius: 0 50% 50% 50%;
  transform: rotate(45deg);
}

.heart {
  position: relative;
  height: 200px;
  width: 160px;
  background: black;
  border-radius: 200px 200px 0 0;
  transform: rotate(305deg);
}

.heart:before {
  content: '';
  position: absolute;
  height: 200px;
  width: 160px;
  background: black;
  border-radius: 200px 200px 0 0;
  transform: rotate(116deg);
  left: 46px;
  top: 72px;
}

.heart-container {
  margin: 10% 10% 10% 2%;
}

.star {
  width: 0;
  height: 0;
  border-bottom: 160px solid black;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
}

.star:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 160px solid black;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  transform: rotate(180deg);
  top: 850px;
  left: 280px;
}
